<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="static-container tos">
<h1>${_("Terms of Service")}</h1>

        <p>중앙대학교 MOOC 서비스인 CAUx 홈페이지 회원제 운영을 위하여 아래와 같이 개인정보를 수집,이용하고자 합니다.</p>
<p>내용을 자세히 읽으신 후 동의 여부를 결정하여 주십시오. </p>
<br>
<p>□ 개인정보 수집‧이용 내역(필수사항)</p>
<table class="table table-bordered">
    <thead>
        <tr>
        <td>항목</td>
        <td>수집목적</td>
        <td>보유기간</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    <li>필수항목 : 이메일, 실명, 아이디, 비밀번호, 기타(접속IP, 쿠키, 서비스 이용기록, 접속 로그) </li>
                    <li>선택항목 : 성별, 출생연도, 최종학력, 우편번호</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>회원 관리 및 홈페이지 이용</li>
                    <li>맞춤형 학습 정보 제공</li>
                </ul>
            </td>
            <td>
                <span style="font-weight:bold;">회원 탈퇴시까지</span>
            </td>
    </tbody>
</table>
<p>※ 위의 개인정보 수집‧이용에 대한 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 CAUx 서비스 가입이 불가합니다. </p>
<p>※ 중앙대학교 개인정보처리방침에 대한 자세한 정보는 중앙대학교 홈페이지에서 확인하실 수 있습니다. <a href="http://www.cau.ac.kr/05_etc/etc02.php" target="_blank">http://www.cau.ac.kr/05_etc/etc02.php</a></p>
<h3><p class="text-center">중앙대학교 CAUx</p></h3>

</section>
