<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<div class="jumbotron parallax parallax_static"  style="background-image:url('${static.url('themes/{theme_name}/images/static/bg.faq.jpg)');">
	<div class="container">
		<div class="">FAQ</div>
	</div>
</div>

<section class="static-container contact">

	<div class="static-container about">

		<div class='page-section'>

			<h1>서비스 사용에 앞서 다음 사항을 확인해 보세요.</h1>

			<strong class="text-danger"><span class="text-gray">·</span> 회원가입 방법</strong>
			<div class="description">
				<p>회원 가입을 위해서는 이메일, 본인의 실명, 아이디(닉네임)와 비밀번호를 반드시 입력해야 합니다.</p>

				<ul class="list-unstyled">
					<li>- 이메일은 회원 가입을 위한 인증 메일을 받을 수 있도록 실제 이메일 주소를 사용해야 합니다.</li>
					<li>- 본인의 실명은 향후 중앙대학교 인증 certification 발급을 위해 사용됩니다.</li>
					<li>- 아이디는 영문과 숫자로 이루어진 고유번호이며, 이미 다른 가입자가 사용하고 있다면 다른 아이디를 사용하시면 됩니다. (가입 이후 변경 불가)</li>
				</ul>
			</div>


			<strong class="text-danger"><span class="text-gray">·</span> 회원 가입을 위한 인증메일을 받을 수 없습니다.</strong>
			<div class="description">
				회원가입 시에 입력하였던 이메일 주소와 비밀번호를 이용해서 최초 로그인 하면, 인증메일이 자동으로 전송됩니다.<br/>
				만일 인증메일을 받지 못하셨다면, 스팸메일함을 확인해 주십시오. <br/>
				반드시 인증 메일을 통해 계정을 활성화해야만, CAUx 콘텐츠를 학습할 수 있습니다.
			</div>

			<strong class="text-danger"><span class="text-gray">·</span> 비밀번호를 잊어버렸습니다. </strong>
			<div class="description">
				로그인 화면에서 “비밀번호를 잊어버리셨나요?” 링크를 클릭하십시오. 회원 가입한 이메일 주소를 입력하고 비밀번호 재설정 버튼을 클릭합니다. <br/>
				비밀번호 재설정할 수 있는 링크가 이메일 주소로 발송됩니다. <br/>
				만일 비밀번호 재설정 메일을 받지 못하셨다면, 스팸메일함을 확인해 주십시오
			</div>

			<strong class="text-danger"><span class="text-gray">·</span> 수강 신청 후 강좌 학습하기 </strong>
			<div class="description">
				강좌 목록 페이지에서 CAUx의 전체 강좌를 확인할 수 있으며, 강좌 소개 내용을 확인한 다음 ‘수강 신청’을 하십시오. <br/>
				반드시 수강 신청을 한 강좌만을 학습할 수 있습니다. 자, 이제 CAUx의 흥미로운 강좌들을 무료로 학습해 볼까요?
			</div>

		</div>

	</div>

</section>
