> .home {
	margin: 0;

	.carousel {
		height:570px;

		.fst {
			position:absolute;
			left:50%;
			top:50%;
			margin:-100px 0 0 -480px;
			p {padding-bottom:30px; font-size:24px; color:#340c0c; letter-spacing:-0.05em;}
			.red {color:#c1351e;}
		}

		.sec {
			position:absolute;
			left:50%;
			top:50%;
			margin:-54px 0 0 -520px;

			p {
				font-size:55px; color:#fff; letter-spacing:-0.05em;
				span {
					display:block; margin-right:-45px; padding-top:10px; font-size:30px; text-align:right; letter-spacing:-0.05em;
				}
			}
		}




	}


	.jumbotron {

		padding:80px 0px;
		text-align: center;

		h2 {
			font-size: 30px;
			font-weight: 600;
			color: #464646;
			letter-spacing: -0.05em;
			text-align: center;
		}

		.index-object {

			.img {
				margin: 0px auto;
				margin-bottom:40px;
				padding:0px;
				display: block;

			}

			strong {
				display: block;
				padding-bottom: 15px;
				font-size: 22px;
				font-weight: 600;
				color: #464646;
				letter-spacing: -0.05em;

				small {
					font-size: 18px;
				}

				&.text-white {
					padding: 40px 0 20px;
					font-size: 24px;
					font-weight: normal;
				}
			}

			p {
				font-size: 16px;
				color: #545454;
				letter-spacing: -0.05em;
				line-height: 1.6;
			}

			.text-gray {
				color: #818181 !important;
			}

		}

		.indicator {
			position:absolute;
			left:0;
			right:0;
			bottom:30px;
			text-align:center;
			a {
				display:inline-block;
				width:19px;
				height:19px;
				margin:0 5px;
				font-size:0;
				&.active {
					background-position:0 -19px;
				}
			}
		}

		.more {
			display: inline-block;
			min-width: 120px;
			height: 53px;
			padding: 0 117px;
			font-size: 20px;
			color: #fff;
			letter-spacing: -0.08em;
			line-height: 53px;
			text-align: center;
			border-radius: 2em;
			background: #3b9fdb;
			margin:0 auto;
		}
	}
}
