/**
* EDX CAU Theme
* chali5124@gmail.com
*/

a {
	font: inherit;
	font-weight: 500;
	letter-spacing: inherit;
	padding: 0;
	color: @color-primary;
	text-transform: none;
	border: 0 none;

	&:hover {
		color: @black;
	}

	&:focus {
		color: @black;
	}
}

.text-small {
	font-size: 0.75em;
}

.no-margin {
	margin: 0px !important;
}

.jumbotron {
	background:#fff;
}

.parallax {
	padding:0px;
	display: block;
	width:100%;
	position: relative;
	overflow: hidden;

	&.parallax_index {
	        padding-top:150px;
	        padding-bottom:220px;
	        //background: url("${static.url('themes/{theme_name}/images/img/bg.jpg'.format(theme_name=settings.THEME_NAME))}") no-repeat 50% 50%;
		background: url("../images/img/bg.jpg") no-repeat 50% 50%;
		background-size:100% 100%;

		.slider {
			position: absolute;
			bottom: 20px;
			left:49%;
		}
	}

	&.parallax_static {

		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size:100% 100%;
		max-height: 370px;
		height: 370px;
		.subtext {
			position: absolute;
			bottom: 50px;
			right:0px;
			font-size: 80px;
			font-weight: 700;
			color:#fff;
			text-shadow: 2px 2px #000000;
			filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=90);
		}
	}
}
.bg-info {
	background-color:@color-info !important;
}
.bg-white {
	background-color:#fff !important;
}

/* 강좌 상세보기 상단 메뉴 */
.course-info{
	header.course-profile {
		height:auto;
		margin:0px;
		padding:40px 0px;
	}
}

.dashboard-search-bar {
	margin: 0px;
	label {
		display: none;
		text-indent: -99999;
	}
}

/*모든 코스웨어의 타이틀을 재정의*/
 .courses {
	 .courses-listing-item {
		.course {
			.course-title,
			.course-title a,
			.course-title span {
				// font-size:18px;
				line-height: 1em;
				// margin:0px 0px 10px 0px;
			}
		}
	}
}

/* 메인페이지  코스목록에서 스타일 리셋 */
.highlighted-courses {
	clear: both;
	overflow: hidden;
}

// 코스상세 들어간 후 bootstrap의 클래스와 충돌하는 코드 리셋
.wrapper-course-material {
	height: auto;
	margin-bottom: auto;
	background-color: initial;
	border-radius: 0px;
	box-shadow:none;
}
.discussion-body {
	.label {
		line-height: 1;
		white-space: nowrap;
		text-align: left;
		display: inline;
		padding:0px;
		font-size:normal;
		color: inherit;
		border-radius:0;
	}

}

/* 일부 텍스트 배경 */
.login-register .section-title.lines .text,
.financial-assistance-wrapper .financial-assistance-form .section-title.lines .text {
	background: none;
}

.jumbotron {
	margin-top: 0px;
	margin-bottom: 0px;
}

.find-courses {
	.course-image {
		display: block !important;
	}
}



.page-section {
	margin-bottom:30px;
	h1 {
		font-size:36px;
		color:#0066cc;
		margin-bottom: 15px;
	}

	.description {
		font-size:16px;
		margin-bottom: 15px;
	}

	&.page-section-contact {
		width:1101px;
		margin:0 auto;
		padding-left: 250px;

		// .page-section-block {
		// 	width:200px;
		// 	text-align: center;
		// 	vertical-align: middle;
		// 	padding:50px 0px;
		// 	border-left:solid 1px @color-border;
		// }

	}
}

.text-orange {
	color:#ff6633;
}
.text-gray {
	color:#333;
}
