/**
* EDX CAU Theme
* chali5124@gmail.com
*/
.text-small {
	font-size: 0.75em;
}

.jumbotron {
	background:#fff;
}

.parallax {
	padding:0px;
	display: block;
	width:100%;
	background-size:100% 100%;
	overflow: hidden;
	position: relative;

	&.parallax_index {
	        padding-top:150px;
	        padding-bottom:220px;
	        //background: url("${static.url('themes/{theme_name}/images/img/bg.jpg'.format(theme_name=settings.THEME_NAME))}") no-repeat 50% 50%;
		background: url("../images/img/bg.jpg") no-repeat 50% 50%;
	}
}
.bg-info {
	background-color:@color-info;
}










/* User Define */
// .course-profile{
// 	padding-top: 30px !important;
// }
// #content>.progress {
// 	min-height: 5em !important;
// 	/*min-height: 57px !important;*/
// }
//
// .wiki-wrapper {
// 	> header {
// 		> ul {
// 			margin-top: -24px !important;
// 		}
//
// 		> .pull-right{
// 			margin-bottom: 0px; margin-top: -16px !important;
// 		}
// 	}
//
// }
//
// .container>.home{
// 	margin: 0 auto !important;
// 	max-width: 1180px !important;
// }
//
// .user-image-frame{
// 	display:none;
// }
//
// .course-material>.inner-wrapper{ padding-left: 24px;padding-right: 24px;}
//
// .details{
// 	font-family: "Nanum Gothic","Open Sans",Verdana,Geneva,sans-serif,sans-serif !important;
// }
// .details>nav {font-size: 1.67em; font-weight: bold;}
//
// /**
// * 해더부분 마우스오버
// */
// .view-login header.global-new:hover, .view-login header.global.slim:hover, .view-login header.global:hover, .view-passwordreset header.global-new:hover, .view-passwordreset header.global.slim:hover, .view-passwordreset header.global:hover, .view-register header.global-new:hover, .view-register header.global.slim:hover, .view-register header.global:hover, body header.global-new:hover, body header.global.slim:hover, body header.global:hover {
// 	background-color: #ffffff !important;
// }
//
// /**
// * 헤더 기본 색정의
// */
// .view-login header.global, .view-login header.global-new, .view-login header.global.slim, .view-passwordreset header.global, .view-passwordreset header.global-new, .view-passwordreset header.global.slim, .view-register header.global, .view-register header.global-new, .view-register header.global.slim, body header.global, body header.global-new, body header.global.slim{
// 	background-color: #ffffff !important;
// 	border: 0 none;
// 	border-radius: 0 !important;
// 	box-shadow: none;
// 	height: auto;
// 	margin-bottom: 0;
// 	min-height: 50px;
// 	padding: 0;
// 	position: relative;
// 	transition: all 0.2s ease-in 0s;
// 	width: auto;
// }
//
//
// /**
// * footer 기본색 정의
// */
// .view-login footer.global, .view-passwordreset footer.global, .view-register footer.global, body footer.global{
// 	background-color: #f1f1f1 !important;
// 	color: #e9e9e9 !important;
// 	font-size: 0.9em;
// 	overflow: hidden;
// 	padding: 20px 0;
// }
//
// /**
// * content-wrapper 배경 구성
// */
// /*.content-wrapper{*/
// /*background-color: #ffffff !important;*/
// /*}*/
//
//
// /**
// * visiual 영역 색 정의
// */
// .content-wrapper > .home > header{
// 	background: #fff none repeat scroll 0 center;
// 	border: medium none;
// 	box-shadow: none;
// 	height: auto;
// 	margin: 0;
// 	padding: 0px 0;
// 	width: auto;
// }
//
// /**
// * visiual 영역 이미지에 대한 처리
// */
//
// .slider {
// 	position: absolute;
// 	bottom: 20px;
// 	left:49%;
// }
//
//
// /**
// * footer 폰트 색깔 설정
// */
// .links li a{
// 	color: #8c8c8c !important;
// }
// .copyright{
// 	color: #8c8c8c !important;
// }
//
// /**
// * footer 스타일 처리
// */
// footer {padding-top: 40px; height:215px;}
//
// footer > .footer-container > ul {
// 	font-size: 15px;color: #545454;
// }
//
// footer > .footer-container{margin-top: 14px;}
//
// /* dash board search  devstack*/
// #my-courses{max-width: 848px !important;}
