## mako
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

<%! from microsite_configuration.templatetags.microsite import platform_name %>


<header class="navbar-static-top" role="header" id="header">

    <div class="container">

        <div class="navbar-header">

            <a class="navbar-brand" href="/">
                <img style="height:25px;" class="img" src="${static.url('themes/iocaux/images/img/logo.png')}" alt="${platform_name()}">
            </a>

            <a data-target="#aside-right" class="aside-toggle navbar-toggle" href="#">
                <i class="navbar-icon fa fa-bars"></i>
            </a>

            <a data-target="#aside-left" class="aside-toggle navbar-toggle" href="#">
                <i class="navbar-icon fa fa-bars"></i>
            </a>

        </div>

        <nav class="navbar-collapse collapse">
            <img style="margin-top:15px;" class="img pull-right" src="${static.url('themes/iocaux/images/img/b4.png')}">

        </nav>

    </div>

</header>
