footer.global {
	background-color: @color-background;
	font-size: 0.9em;
	color: @text-gray;
	padding: 40px 0 30px;
	height: 275px;
	overflow: hidden;

	.footer-container {
		.container();

		position: relative;
	}

	ul.links {
		.list-unstyled();

		margin: 0px 0px 15px 0px;

		li {
			display: inline-block;
			margin: 0 5px 0 0;

			&:after {
				content: '\2022';
				padding: 0 0 0 5px;
			}

			&:last-child {
				margin: 0;

				&:after {
					display: none;
				}
			}

			a {
				color:#545454;
				font-size:14px;
				&:hover {

				}
			}
		}
	}

	.copyright {
		margin: 0px;
		font-size: 12px;
		color:#9a9a9a;;
		letter-spacing: -0.05em;
		line-height: 1.6;
		.text-small {
			margin-top: 15px;
			font-size: 10px;
			color: #8c8c8c;
			letter-spacing: -0.05em;
		}
	}

	.by-ionisx {
		.hidden-xs();

		position: absolute;
		top: -8px;
		right: 0;
		text-align: right;

		p {
			margin: 0;
		}

		a {
			text-decoration: none;
			display: inline-block;
			width: 195px;
			height: 35px;
			margin-bottom: 8px;
			font-size: 12px;
			color: #5f5f5f;
			letter-spacing: -0.05em;
			line-height: 35px;
			text-align: center;
			border: 1px solid #ddd;
			background: #f4f4f4;
			transition: all .1s ease-in;

			&:hover {
				border-color:#000;
			}
		}

		.text-small {
			font-size: 10px !important;
			color: #8c8c8c;
			letter-spacing: -0.05em;
			margin-top:15px;
		}

		// img {
		// 	// height: 50px;
		// 	margin-bottom: 10px;
		// 	height: 37px;
		// }
	}
}
